### FrontEnd ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


### BackEnd ###
# HELP 파일
be/HELP.md

### application.yml ###
**/application.yml

# Gradle 관련
be/.gradle
be/build/
!be/gradle/wrapper/gradle-wrapper.jar
!be/**/src/main/**/build/
!be/**/src/test/**/build/

### STS ###
be/.apt_generated
be/.classpath
be/.factorypath
be/.project
be/.settings
be/.springBeans
be/.sts4-cache
be/bin/
!be/**/src/main/**/bin/
!be/**/src/test/**/bin/

### IntelliJ IDEA ###
be/.idea
be/*.iws
be/*.iml
be/*.ipr
be/out/
!be/**/src/main/**/out/
!be/**/src/test/**/out/

### NetBeans ###
be/nbproject/private/
be/nbbuild/
be/dist/
be/nbdist/
be/.nb-gradle/

### VS Code ###
be/.vscode/
