.home_main_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 240px;
  background: rgba(249, 225, 148, 0.5);
  position: relative;
  overflow: hidden; 
}

.home_main_text_overlay {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex; 
  flex-direction: column;
  gap: 8px;
  justify-content: center; 
  overflow: hidden; 
}

.home_main_text, .home_main_text2 {
  position: relative; 
  font-size: 24px;
  color: black;
  text-align: center;
  opacity: 0;
}

.home_main_text {
  animation: slide-up 0.5s ease-in-out forwards;
}

.home_main_text2 {
  animation: slide-up 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes slide-up {
  from {
    transform: translateY(80%); 
    opacity: 0;
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

.home_main_image img {
  width: 50%; 
  height: 100%; 
  object-fit: cover; 
  display: block;
  animation: slide-left 1.0s ease-in-out forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(10%); 
  }
  to {
    transform: translateX(0); 
  }
}
