.biddedHistoryList_cardItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.biddedHistoryList_cardItems_item {
  width: calc((1024px - (20px * 2)) / 3); 
  padding: 12px 0;
}

.biddedHistoryList_cardItems_bottons {
  display: flex; 
  justify-content: space-between; 
  margin: 4px 0;
}

.biddedHistoryList_cardItems_bottons button {
  width: calc((1024px - (20px * 4)) / 3 / 2); 
  height: 32px;
}

.biddedHistoryList_cardItems_botton button {
  width: calc((1024px - (20px * 2)) / 3); 
  height: 32px;
}
