/* 프로필 */
.profile_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bebebe;
  border-radius: 20px;
  padding: 24px 52px;
  margin: 80px 0;
}

.profile_info_section {
  display: flex;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* 내 점수, 비드 */
.score_container {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.score_items {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid #bebebe;
  flex: 1;
  border-radius: 20px;
}


/* 관심 상품 */
.favoriteItem_container_title{
  display: flex;
  justify-content: space-between;
}

.favoriteItem_container_title button {
  border: none;
  background: none;
  color: #bebebe;
  cursor: pointer;
}