.dateNavigator_container {
  display: flex;
  justify-content: space-between;
}

.dateNavigator_container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dateNavigator_container img {
  filter: brightness(40%);
  opacity: 0.4;
  transition: all 0.3s ease;
  width: 16px;
  height: 16px;
}

.dateNavigator_container img:hover {
  filter: brightness(100%);
  opacity: 1;
}
