.dateNavigator_container {
  display: flex;
  justify-content: space-between;
}

.dateNavigator_container button {
  background: none;
  border: none;
  cursor: pointer;
}

.dateNavigator_container button img {
  width: 24px;
  height: 24px;
}