.header_container, .footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header_container {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 20px;
}

.footer_container {
  background-color: #bebebe;
  height: 80px;
}

.header_container_searchField {
  width: 500px;
}

.header_container_options, 
.footer_container_links {
  display: flex;
  gap: 20px;
}

