.itemCardRow_contaier {
  display: flex;
  flex-direction: row;
  position: relative; 
  border: 1px solid #bebebe; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  width: 100%;
}

.itemCardRow_rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}