.postForm_container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.postForm_title_container,
.postForm_textarea_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.postForm_item {
  display: flex; 
  height: 32px; 
  width: 100%; 
  max-width: 800px;
  padding-right: 20px;
}

.postForm_title {
  display: flex; 
  align-items: center; 
  height: 32px; 
  width: 100%; 
  max-width: 800px; 
  border: 1px solid #bebebe; 
  padding: 8px; 
}

.postForm_title:focus-within,
.postForm_textarea:focus-within  {
  border-color: var(--focus-border-color); /* 변수 사용 */
  box-shadow: var(--focus-box-shadow); /* 변수 사용 */
}

.postForm_textarea {
  display: flex; 
  align-items: center; 
  height: 400px; 
  width: 100%; 
  max-width: 800px; 
  border: 1px solid #bebebe; 
  padding: 8px;
}

.postForm_textarea textarea {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-size: 16px;  
}