.textField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: 'Pretendard-Regular', sans-serif;
  border: 1px solid #bebebe;
  outline: none; 
}

.textField.focused {
  border-color: yellowgreen
}
