.bidInputTextField {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bidInputTextField_info {
  padding: 40px 80px;
  margin: 20px 0;
  background: rgba(150, 177, 172, 0.5);
  border-radius: 8px;
}

.bidInputTextField_input {
  display: flex;
  gap: 12px;
  justify-content: center;
}