.chargeBidPointModalContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 80px;
}

.chargeBidPointModalContent_input {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.chargeBidPointModalContent_buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: right;
}