@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo-bold';
  font-style: normal;
  font-weight: 700;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 고도체 */
.titleLabelGodo {
 font-family: 'Godo-bold', sans-serif;
 font-size: 28px;
}

.subTitleLabelGodo {
  font-family: 'Godo', sans-serif;
  font-size: 20px;
}

/* 프리텐다드 */
.titleLabelPre {
  font-family: 'Pretendard-Regular', 'sans-serif';
  font-size: 28px;
}

.subTitleLabelPre {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 20px;
}

.textLabelPre {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 16px;
}

.captionLabelPre {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 12px;
}

/* 아이콘 라벨 */
.iconPlusLabel {
  cursor: pointer;
}